# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Environment files (keep secrets safe!)
.env
.env.local
.env.*.local

# Docker
*.pid
*.log
docker-compose.override.yml
postgres-data/
db_data/
**/db_data/
**/postgres-data/

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Flask & cache
instance/
*.db
*.sqlite

# Migrations (if you use flask-migrate/alembic, uncomment)
#migrations/

# Mac and Linux cruft
.DS_Store
*.swp
